<div class="container-fluid">
    <div class="row-fluid bottom-spacer">
        <a href="#add-todo" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Hinzufügen</a>
    </div>

    <div class="form-group">
        <label for="todoFilter">Filter:</label>
        <input ng-model="query" type="text" class="form-control" id="todoFilter" placeholder="Filter eingeben"/>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Deadline</th>
                <th>Erledigt</th>
                <th>Wer</th>
                <th>Kommentar</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="todo in todos | filter:query" ng-class="{danger: isDue(todo)}">
                <td>{{ todo.description }}</td>
                <td>{{ todo.deadline | date: 'dd.MM.yyyy' }}</td>
                <td><span class="label" ng-class="{ 'label-danger': !todo.done, 'label-success': todo.done }">{{ todo.done | ja_nein }}</span></td>
                <td>{{ todo.assignee }}</td>
                <td>{{ todo.comment }}</td>
                <td>
                    <button ng-click="delete(todo.id)" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus"></i> Löschen</button>
                    <button ng-show="!todo.done" ng-click="markAsDone(todo)" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>