<div class="container-fluid">
    <div class="row-fluid bottom-spacer">
        <a href="#add-todo" class="btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i> Hinzufügen</a>
    </div>

    <div class="form-group">
        <label for="todoFilter">Filter:</label>
        <input ng-model="query" type="text" class="form-control" id="todoFilter" placeholder="Filter eingeben"/>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Deadline</th>
                <th>Erledigt</th>
                <th>Wer</th>
                <th>Kommentar</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="todo in todos | filter:query" ng-class="{danger: isDue(todo)}">
                    <td>
                        <span ng-show="!isEditMode(todo.id)">{{ todo.description }}</span>
                        <input ng-show="isEditMode(todo.id)" name="description" ng-model="todo.description" type="text" class="form-control" id="description" required/>
                    </td>
                    <td>
                        <span ng-show="!isEditMode(todo.id)">{{ todo.deadline | date: 'dd.MM.yyyy' }}</span>
                        <p ng-show="isEditMode(todo.id)" class="input-group">
                          <input name="deadline" id="deadline" type="text" class="form-control" ng-model="todo.deadline"
                                 datepicker-popup="{{format}}"  is-open="opened"
                                 min="minDate" max="'2015-06-22'"
                                 datepicker-options="dateOptions"
                                 date-disabled="disabled(date, mode)"
                                 ng-required="true"
                                 close-text="Schliessen" />
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </td>
                    <td><span class="label" ng-class="{ 'label-danger': !todo.done, 'label-success': todo.done }">{{ todo.done | ja_nein }}</span></td>
                    <td>
                        <span ng-show="!isEditMode(todo.id)">{{ todo.assignee }}</span>
                        <input ng-show="isEditMode(todo.id)" required ng-model="todo.assignee" type="text" class="form-control" id="assignee" name="assignee" />
                    </td>
                    <td>
                        <span ng-show="!isEditMode(todo.id)">{{ todo.comment }}</span>
                        <textarea ng-show="isEditMode(todo.id)" ng-model="todo.comment" class="form-control" id="comment"></textarea>
                    </td>
                    <td>
                        <div ng-show="!isEditMode(todo.id)">
                            <button ng-click="delete(todo.id)" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-minus"></i> Löschen</button>
                            <button ng-show="!todo.done" ng-click="markAsDone(todo)" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i></button>
                            <button ng-click="activateEditMode(todo.id)" type="button" class="btn btn-warning btn-xs"><i class="glyphicon glyphicon-edit"></i> Editieren</button>
                        </div>
                        <div ng-show="isEditMode(todo.id)">
                            <button ng-click="save(todo)" type="button" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i> Speichern</button>
                            <button ng-click="resetEditMode()" type="button" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon glyphicon-remove"></i> Abbrechen</button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>